<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some website</title>
</head>
<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit morbi placerat erat laoreet luctus sodales velit fames pretium, viverra mauris dignissim neque consequat nulla potenti proin suspendisse gravida lobortis dapibus maecenas non odio. Inceptos fringilla senectus lobortis fames adipiscing elit risus, cum augue varius dapibus urna donec est, dignissim blandit neque phasellus posuere diam. Montes venenatis magnis risus fermentum tellus vehicula vestibulum ultricies nullam laoreet, a tempus vulputate euismod ultrices sagittis curae vitae diam vivamus, hac aenean praesent pretium aptent netus condimentum mattis nam.</p>
    
    {{> footer}}
</body>
</html>